* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 85vw;
  margin: auto;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.navbar-logo {
  width: 5rem;
}

.navbar-title {
  font-weight: 500;
  font-size: 2rem;
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cart-icon {
  font-size: 1.8rem;
}

.cart-badge {
  background-color: #cf082c;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 1.2rem;
  bottom: 1.2rem;
  color: white;
  font-size: 0.9rem;
  visibility: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10rem;
}

.header-txt {
  max-width: 2rem;
  font-size: 5rem;
  font-weight: 900;
}

.header-img {
  height: 40rem;
  width: 40rem;
  border-radius: 1rem;
}

.products-main {
  margin-top: 12rem;
}

.products-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products-wrapper:not(:nth-child(1)) {
  margin-top: 3rem;
}

.product-img__wrapper {
  position: relative;
}

.product-img {
  height: 22rem;
  width: 22rem;
  border-radius: 1rem;
}

.add-btn {
  font-size: 3rem;
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  visibility: hidden;
}

.product-img:hover ~ .add-btn {
  visibility: visible;
}

.product-model {
  margin-top: 0.8rem;
  margin-left: 0.2rem;
  font-weight: 600;
}

.product-fee {
  margin-top: 0.3rem;
  margin-left: 0.2rem;
  color: #696969;
}

.collection-xc72 {
  margin-top: 15rem;
}

.collection-xc72__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}

.collection-xc72__header-poster {
  width: 36rem;
  height: 36rem;
  background-image: url(./assets/banners/banner-xc72.png);
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
}

.collection-xc72__header-gif {
  width: 36rem;
  height: 36rem;
  border-radius: 1rem;
}

.collection-237 {
  margin-top: 15rem;
}

.collection-237__poster {
  height: 40rem;
  background-image: url(./assets/banners/banner-237.jpeg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 5rem;
}

.collection-5740 {
  margin-top: 15rem;
}

.collection-5740__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}

.collection-5740__header-poster {
  width: 36rem;
  height: 36rem;
  background-image: url(./assets/banners/banner-5740.jpeg);
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
}

.collection-5740__header-gif {
  width: 36rem;
  height: 36rem;
  border-radius: 1rem;
}

.footer-top__container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.footer-top {
  margin-top: 15rem;
  background-color: #29242b;
}
.footer-top__img {
  height: 50rem;
}
.footer-top__txt {
  color: #efc451;
}

.footer-top__txt h4 {
  font-size: 7rem;
  max-width: 13rem;
  text-transform: uppercase;
  font-weight: 800;
  text-shadow: 0px 5px #af4244;
}

.footer-top__txt a {
  text-decoration: none;
  color: #efc451;
  font-size: 1.5rem;
}

.fa-angle-right {
  font-size: 1.2rem;
}
